@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Serif+Pro&display=swap');

.App {
  display: flex;
  justify-content: center;
}

/* Font CSS */

.header-font {
  font-family: 'Source Serif Pro', serif;
}

.button-font {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

.tweet-font {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

/*Flex box classes*/
.row{
  display: flex;
}

col

/* Landing Page */

.white-bg {
  background-color: white;
}

.landing-page-image {
  position: fixed;
  width: 45%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.landing-page-icon {
  position: absolute;
  display: flex;
  border-radius: 50%;

  width: 90px;
  height: 90px;
  left: 50%;
  top: 70px;

  align-items: center;
  justify-content: center;

  background: #D5D1D1;
}

.center-item {
  top: 50%;
  left: 50%;
}

.landing-page-header {
  position: absolute;

  width: 30%;

  left: 55%;
  top: 150px;
  font-size: 40px;
}

.landing-page-subhead {
  position: absolute;

  width: 30%;
  left: 55%;
  top: 280px;
  font-size: 32px;
  font-weight: bold;
}

.landing-page-button {
  position: absolute;
  width: 302px;
  height: 62px;
  left: 57%;
  border: 0px;
  background: #E9E7E7;
  border-radius: 35px;
}

.landing-page-google {
  top: 400px;
}

.landing-page-apple {
  top: 500px;
}

.landing-page-email {
  top: 650px;
  background-color: aquamarine;
}

.landing-page-login {
  top: 800px;
  color: rgb(26, 114, 144);
}

.landing-page-button:hover {
  background: lightblue;
}

.button-inside {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.or-line {
  position: absolute;
  left: 55%;
  top: 590px;;
}

.or-text {
  position: absolute;
  display: flex;
  background: white;
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  top: 835px;
  left: 63%;
  align-items: center;
  justify-content: center;
}

.landing-page-already {
  position: absolute;

  width: 30%;
  left: 58%;
  top: 720px;
  font-size: 24px;
  font-weight: bold;
}

/* Signup/Login/Forgot Page */

.credentials-bg {
  position: absolute;
  background: #B5B1B1;
  width: 100%;
  height: 100%;
}

.credentials-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 900px;
  width: 700px;
  background-color: white;
  border-radius: 35px;
}

.credentials-icon {
  left: 318px;
  top: 20px;
  position: absolute;
}

.credentials-header {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100px;
}

.credentials-x {
  position: absolute;
  left: 10px;
  top: 10px;
  background: none;
  color: lightgray;
  border: none;
}

.credentials-x:hover {
  color: black;
}

/* Signup Page */

.text-field {
  position: absolute;
  left: 100px;
  width: 500px;
}

.name {
  top: 250px;
}

.email {
  top: 375px;
}

.verify {
  top: 400px;
}

.date-header{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 500px;
}

.date-text{
  position: absolute;
  text-align: center;
  width: 100%;
}

.date-1{
  top: 550px;
}

.date-2{
  top: 580px;
}

.next-button {
  position: absolute;
  display: block;
  width: 464px;
  height: 43px;
  left: 100px;
  top: 800px;

  background: #DADADA;
  border-radius: 35px;
  border: none;
  font-size: 20px;
  font-weight: 400;
}

.next-button:hover {
  background-color: lightblue;
}

.signup-err-msg-1 {
  position: absolute;
  top: 150px;
  width: 90%;
  left: 35px;
  text-align: center; 
}

.signup-err-msg-2 {
  position: absolute;
  top: 250px;
  width: 90%;
  left: 35px;
  text-align: center;
  color: rgb(202, 68, 68); 
}

.signup-err-msg-3 {
  position: absolute;
  top: 200px;
  width: 90%;
  left: 35px;
  text-align: center;
  color: rgb(202, 68, 68); 
}

.signup-validation-text {
  position: absolute;
  top: 150px;
  width: 90%;
  left: 35px;
  text-align: center;
}

.signup-password-list {
  position: absolute;
  top: 300px;
  left: 70px;
  width: 50%;
  text-align: center;
}

.signup-password-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.signup-password-field {
  position: absolute;
  left: 35px;
  width: 90%;
}

.field-1 {
  top: 470px;
}

.field-2 {
  top: 595px;
}


/* DOB Component */

.signup-dob-container{
  position: absolute;
  top: 650px;
  left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
}

.css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  font-size: 30px !important;
  width: 200px !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  max-height: 300px !important;
}

/* Dashboard Page */

.dashboard {
  position: absolute;
  display: table;
  width: 1400px;
  height: 100%;
  margin: 0 auto;

}

.dashboard-icon {
  position: absolute;
  top: 50px;
  display: block;
  left: 75px;
}

.dash-left-col {
  position: absolute;
  top: 150px;
  left: 0px;
  display: flex;
  width: 200px;
  height: 600px;
  border: black 1px;
  flex-direction: column;
  align-items: center;
}

.dash-left-item {
  display: block;
  flex: auto;
  text-align: center;
  background: none;
  border: none;
  left: 0px;
  width: 200px;
}

.dash-left-item:hover {
  background-color: #B5B1B1;
 border-radius: 35px;
}

.dash-left-item:hover:active {
  background-color: white;
  border: 1px solid #B5B1B1;
}

.dash-middle-col {
  left: 250px;
  position: absolute;
  top: 50px;
  display: block;
  width: 700px;
}

.dash-right-col {
  left: 1000px;
  position: absolute;
  top: 50px;
  display: block;
  width: 400px;
}

.file-upload {
  
}

/* Tweet Component */

.tweet-container {
  display: block;
  border: 1px solid black;
  width: 650px;
  margin-left: 25px;
  margin-right: 25px;
  
}

.round-button {
  background: none;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.round-button:hover {
  border: 1px solid black;
}

.tweet-msg {
  margin-left: 20px;
  margin-right: 20px;
}

.like-retweet-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.like-button {
  background: none;
  border: none;
  margin-left: 20px;
  margin-right: 10px;
}

.like-button:hover {
  border: 1px solid black;
}

.share-content-icon {
  background: none;
  border: none;
}

.share-content-icon:hover {
  border: 1px solid black;
}

.share-tweet-btn {
  text-align: right;
}

.file-upload-inline-text {
  display: inline-block;
  font-size: large;
}

.file-upload-input {
  display: inline-block;
  margin-left: 20px;
}